.tags {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-width: 50vw;
  height: fit-content;
}
.tagsProfile {
  margin-left: 1rem;
  margin-top: 1rem;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
.tags a {
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  z-index: 999;
}
.tagsProfile a {
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  z-index: 999;
}
.tags a:hover {
  color: hsl(var(--primary));
}
.tagsProfile a:hover {
  color: hsl(var(--primary));
}
.tagsR {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-width: 50vw;
  height: fit-content;
}
.tagsR a {
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
  z-index: 999;
}
.tagsR a:hover {
  color: hsl(var(--primary));
}
@media (min-width: 1280px) {
  .tags {
    max-width: 30vw;
  }
  .tagsR {
    max-width: 20vw;
  }
}
